name: Release

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  actions: read
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git User
        run: |
          git config --global user.email "petinga@sardine.dev"
          git config --global user.name "@$GITHUB_ACTOR"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
          scope: "@sardine"

      - name: Setup npm
        run: npm set "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}"

      - name: Install Dependencies
        run: npm ci

      - uses: nrwl/nx-set-shas@v4

      - name: Run tests
        run: npm test

      - name: Run benchmarks
        run: npm run bench

      - name: Run lint and format
        run: npm run lint

      - name: Run type check
        run: npm run types:check

      - name: Build packages
        run: npm run build

      - name: Export Types
        run: npm run types:export

      - name: Publish to NPM
        if: github.ref_name == 'main'
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npx changeset publish
          commit: "[ci] release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
