name: Static Checks

on:
  workflow_call:

permissions:
  contents: read

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup repo
        uses: ./.github/actions/setup-repo

      - name: Run tests
        run: npm test

      - name: Run lint and format
        run: npm run lint

      - name: Run type check
        run: npm run types:check

      - name: Build packages
        run: npm run build

      - name: Export Types
        run: npm run types:export
